.container
{
    width: 1260px;
    margin: 0 auto;
}

.food__kind,
.footer__advantages-list,
.logo,
.newsletter
{
    display: -ms-flexbox;
    display: flex;
        flex-direction: column; 

    -ms-flex-direction: column;
}

@font-face
{
    font-family: 'Roboto Slab';
    font-weight: normal; 
    font-style: normal;

    src: url('../fonts/RobotoSlab-Regular.woff2');
}

@font-face
{
    font-family: 'Roboto Slab';
    font-weight: 700; 
    font-style: normal;

    src: url('../fonts/RobotoSlab-Bold.woff2');
}

@font-face
{
    font-family: 'Roboto Slab';
    font-weight: 300; 
    font-style: normal;

    src: url('../fonts/RobotoSlab-Light.woff2');
}

@font-face
{
    font-family: 'Roboto Slab';
    font-weight: 100; 
    font-style: normal;

    src: url('../fonts/RobotoSlab-Thin.woff2');
}

@font-face
{
    font-family: 'Roboto Slab';
    font-weight: normal; 
    font-style: normal;

    src: url('../fonts/RobotoSlab-Regular.woff');
}

@font-face
{
    font-family: 'Roboto Slab';
    font-weight: 700; 
    font-style: normal;

    src: url('../fonts/RobotoSlab-Bold.woff');
}

@font-face
{
    font-family: 'Roboto Slab';
    font-weight: 300; 
    font-style: normal;

    src: url('../fonts/RobotoSlab-Light.woff');
}

@font-face
{
    font-family: 'Roboto Slab';
    font-weight: 100; 
    font-style: normal;

    src: url('../fonts/RobotoSlab-Thin.woff');
}

body
{
    font-family: 'Roboto Slab', 'Georgia', serif; 

    margin: 0;
}

img
{
    max-width: 100%;
}

a
{
    text-decoration: none;

    color: inherit;
}

.container--header-upper
{
    display: -ms-flexbox;
    display: flex;

    -ms-flex-pack: justify;
    justify-content: space-between;
}

.container--upper-footer
{
    display: -ms-flexbox;
    display: flex;

    padding: 0 150px;

    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.features
{
    padding: 140px 0;
}
.features__item
{
    width: 580px;
}
.features__item-title
{
    font-size: 30px;
    font-weight: 700;
    line-height: 48px; 

    color: #191b29;
}
.features__item__description
{
    font-size: 16px;
    font-weight: 300;
    line-height: 30px; 

    color: #191b29;
}
.features__item-signup
{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 

    display: inline-block;

    padding: 5px 30px;

    color: #fff;
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 27px;
    background-color: #dd4b2b;
}
.features__item-signup:hover
{
    background-color: #4b4e73;
}

.food
{
    display: -ms-flexbox;
    display: flex;

    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-align: center;
    align-items: center;
}
.food__kind
{
    width: 310px;

    -ms-flex-align: center;
    align-items: center;
}
.food__kind-title
{
    font-size: 30px;
    font-weight: 700;
    line-height: 24px; 

    text-align: center;

    color: #fff;
}
.food__kind-description
{
    font-size: 15px;
    font-weight: 300;
    line-height: 30px; 

    color: #fff;
}

.footer__upper
{
    padding: 100px 200px;

    background-color: #d75d0e;
}

.footer__advantages-link
{
    font-size: 18px;
    font-weight: 400;
    line-height: 36px; 

    padding: 4px 5px;

    color: #fff;
}

.footer__bottom
{
    padding: 120px 0;

    background-image: url('../img/food-wide.jpg');
    background-size: cover;
}

.footer__recomendation
{
    font-size: 18px;
    font-weight: 300; 
    line-height: 24px;

    padding: 0 200px;

    text-align: center;

    color: #fff;
}

.header__bottom-header
{
    padding: 100px 0;

    background-image: url('../img/h_bgi.jpg');
    background-size: cover;
}

.logo__text
{
    font-size: 36px;
    font-weight: 700;
    line-height: 36px; 

    color: #31353e;
}

.logo__description
{
    font-size: 16px;
    font-weight: 400;
    line-height: 36px; 

    color: #dd4b2b;
}

.nav
{
    display: -ms-flexbox;
    display: flex;

    -ms-flex-align: center;
    align-items: center;
}
.nav__item
{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px; 

    display: block;

    box-sizing: border-box;
    padding: 8px 10px;

    color: #31353e;
}
.nav__item:hover
{
    color: #edeff1; 
    border-radius: 24px;
    background-color: #dd4b2b;
}

.news
{
    padding: 100px 0 100px 0;
}
.news__title
{
    font-size: 30px;
    font-weight: 700;
    line-height: 24px; 

    text-align: center;

    color: #31353e;
}
.news__list
{
    display: -ms-flexbox;
    display: flex;

    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-align: center;
    align-items: center;
}
.news__thumbnail
{
    width: 371px;

    text-align: center;
}
.news__thumbnail-title
{
    font-size: 24px;
    font-weight: 700; 
    line-height: 30px;

    color: #31353e;
}
.news__thumbnail-description
{
    font-size: 15px;
    font-weight: 300; 
    line-height: 30px;

    color: #31353e;
}
.news__thumbnail-read
{
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;

    display: inline-block;

    margin: 0 auto;
    padding: 8px 25px;

    cursor: pointer; 
    text-align: center;

    color: #4e5159;
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 27px;
    background-color: #fff;
}
.news__thumbnail-read:hover
{
    color: orange;
    background-color: #4b4e73;
}

.newsletter
{
    padding: 50px 100px;

    text-align: center; 

    background-image: url('../img/food-wide.jpg');
    background-size: cover;

    -ms-flex-align: center;
    align-items: center;
}
.newsletter__title
{
    font-size: 30px;
    font-weight: 700;
    line-height: 48px; 

    color: #fff;
}
.newsletter__description
{
    font-size: 15px;
    font-weight: 300;
    line-height: 24px; 

    color: #fff;
}
.newsletter__form
{
    position: relative;

    display: block;

    box-sizing: border-box;
    width: 510px; 
    margin: 0 auto;
    margin-top: 35px;
}
.newsletter__email
{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 

    display: block;

    box-sizing: border-box;
    width: 510px;
    padding: 10px 200px 10px 20px;

    color: #000;
    border-radius: 27px;
    background-color: rgba(255, 255, 255, .2);
}
.newsletter__submit
{
    font-size: 18px;

    position: absolute;
    right: 0;
    bottom: 0;

    padding: 15px 85px;

    border: none; 
    border-radius: 27px;
    background-color: #fff;
}
.newsletter__submit:hover
{
    background-color: #dd4b2b;
}

.page-title__text
{
    font-size: 72px;
    font-weight: 300; 
    line-height: 48px;

    text-align: center;

    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .4);
}

.page-title__description
{
    font-size: 30px;
    font-weight: 700; 
    line-height: 48px;

    text-align: center;

    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .4);
}
