.news{
  padding: 100px 0 100px 0;
  &__title{
    margin-bottom: 50px;
    text-align: center;
    color: #31353e;
    font-size: 30px;
    font-weight: 700;
    line-height: 24px;
  }
  &__list{
    display: flex;
    justify-content: space-around;
  }
  &__thumbnail{
    width: 371px;
    text-align: center;
    &-title{
      margin: 0 auto;
      margin-top: 30px;
      color: #31353e;
      line-height: 30px;
      font-size: 24px;
      font-weight: 700;
    }
    &-content{
      display: flex;
      flex-wrap: wrap;
      height: calc(100% - 254px);
    }
    &-description{
      color: #31353e;
      line-height: 30px;
      font-size: 15px;
      font-weight: 300;
    }
    &-read{
      display: inline-block;
      align-self: flex-end;
      margin: 0 auto;
      padding: 8px 25px;
      text-align: center;
      border-radius: 27px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      background-color: #ffffff;
      color: #4e5159;
      font-size: 15px;
      font-weight: 300;
      line-height: 30px;
      cursor: pointer;
      &:hover{
        color: orange;
        background-color: #4b4e73;
      }
    }
  }

}
